<div class="content">
  <div class="container">
       <ul class="words-list">
         <li class="word-element">
           <span class="word-indicator"></span>
           <span class="word-name">Abandon</span>
         </li>
         <mat-divider></mat-divider>
         <li class="word-element">
           <span class="word-indicator"></span>
           <span class="word-name">Abandon</span>
         </li>
         <li class="word-element">
           <span class="word-indicator"></span>
           <span class="word-name">Abandon</span>
         </li>
         <li class="word-element">
           <span class="word-indicator"></span>
           <span class="word-name">Abandon</span>
         </li>
         <li class="word-element">
           <span class="word-indicator"></span>
           <span class="word-name">Abandon</span>
         </li>
         <li class="word-element">
           <span class="word-indicator"></span>
           <span class="word-name">Abandon</span>
         </li>
         <li class="word-element">
           <span class="word-indicator"></span>
           <span class="word-name">Abandon</span>
         </li>
         <li class="word-element">
           <span class="word-indicator"></span>
           <span class="word-name">Abandon</span>
         </li>
         <li class="word-element">
           <span class="word-indicator"></span>
           <span class="word-name">Abandon</span>
         </li>
         <li class="word-element">
           <span class="word-indicator"></span>
           <span class="word-name">Abandon</span>
         </li>
         <li class="word-element">
           <span class="word-indicator"></span>
           <span class="word-name">Abandon</span>
         </li>
       </ul>
   </div>
</div>
