<div class="info-container">
  <div class="info-header-arrow-container">
    <span class="info-header">Meanings</span>
    <div class="arrow-4" [ngClass]="{'open': !this.wordService.meaningExpanded}" (click)="meaningsClick()">
      <span class="arrow-4-left"></span>
      <span class="arrow-4-right"></span>
    </div>
  </div>

  <ul class="info-list" [ngClass]="{'hidden': !this.wordService.meaningExpanded}">
    <li *ngFor="let info of meanings">
      <div class="info-item-container">
        <span class="part-of-speech">{{info.partOfSpeech.name}}</span>
        <div class="speech-indicator-container">
          <span class="part-of-speech-indicator"></span>
        </div>
        <span class="info-text">{{info.text}}</span>
        <ul class="synonyms-list">
          <li *ngFor="let synonym of info.definitionsSynonyms">
            <span>{{synonym.text}}</span>
          </li>

        </ul>
<!--        <ul class="synonyms-list">-->
<!--          <li *ngFor="let s of info.definitionsSynonyms">-->
<!--            <span>{{s.text}}</span>-->
<!--          </li>-->
<!--        </ul>-->
        <ul class="examples-list" *ngIf="info.examples.length>0">
          <li *ngFor="let example of info.examples">
            <div class="example-indicator-container">
              <span class="example-indicator"></span>
            </div>
            <span>{{example.text}}</span>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<div class="info-container">
  <div class="info-header-arrow-container">
    <span class="info-header">Collocations</span>
    <div class="arrow-4" [ngClass]="{'open': !this.wordService.collocationsExpanded}" (click)="collocationsClick()">
      <span class="arrow-4-left"></span>
      <span class="arrow-4-right"></span>
    </div>
  </div>
  <ul class="info-list" [ngClass]="{'hidden': !this.wordService.collocationsExpanded}">
    <li *ngFor="let collocation of collocations">
      <div class="info-item-container">
        <span class="part-of-speech">{{collocation.partOfSpeech.name}}</span>
        <div class="speech-indicator-container">
          <span class="part-of-speech-indicator"></span>
        </div>
        <span class="info-text">{{collocation.text}}</span>
        <ul class="synonyms-list">
          <li *ngFor="let synonym of collocation.collocationWords">
            <span>{{synonym.text}}</span>
          </li>

        </ul>
        <ul class="examples-list" *ngIf="collocation.examples.length>0">
          <li *ngFor="let example of collocation.examples">
            <div class="example-indicator-container">
              <span class="example-indicator"></span>
            </div>
            <span>{{example.text}}</span>
          </li>

        </ul>
      </div>
    </li>
  </ul>
</div>
