  <header class="header">
    <div class="container">
      <div class="header-body" [ngClass]="{'active' : burgerActive}">
        <a href="#" class="logo-text">
          <img src="/assets/logo8.png" class="logo-image" alt="">
        </a>

        <div class="header-burger" [ngClass]="{'active': burgerActive}" (click)="burgerClick()">
          <span></span>
        </div>
        <nav class="header-menu" [ngClass]="{'active': burgerActive}">
          <ul class="menu-points-list">
            <li>
              <a href="#" class="header-link">Усі слова</a>
            </li>
            <li>
              <a href="#" class="header-link">Словник</a>
            </li>
            <li>
              <a href="#" class="header-link">Мій кабінет</a>
            </li>
            <li>
              <a href="#" class="header-link">Про нас</a>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </header>
