<div class="wrapper">
  <header class="header">
    <div class="container">
      <div class="header-body" [ngClass]="{'active' : burgerActive}">
        <a href="#" class="logo-text">
          <img src="/assets/logo8.png" class="logo-image" alt="">
        </a>

        <div class="header-burger" [ngClass]="{'active': burgerActive}" (click)="burgerClick()">
          <span></span>
        </div>
        <nav class="header-menu" [ngClass]="{'active': burgerActive}">
          <ul class="menu-points-list">
            <li>
              <a href="#" class="header-link">Усі слова</a>
            </li>
            <li>
              <a href="#" class="header-link">Словник</a>
            </li>
            <li>
              <a href="#" class="header-link">Мій кабінет</a>
            </li>
            <li>
              <a href="#" class="header-link">Про нас</a>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="content" [ngClass]="{'lock': burgerActive}">
    <div class="container">
      <div class="word-info-header">
        <span class="word-name">Abandon</span>
        <div class="info-container">
          <div class="info-header-arrow-container">
            <span class="info-header">Meanings</span>
            <div class="arrow-4" [ngClass]="{'open': !meaningsExpanded}" (click)="meaningsClick()">
              <span class="arrow-4-left"></span>
              <span class="arrow-4-right"></span>
            </div>
          </div>

          <ul class="info-list" [ngClass]="{'hidden': !meaningsExpanded}">
            <li>
              <div class="info-item-container"  >
                <span class="part-of-speech">NOUN</span>
                <div class="speech-indicator-container">
                  <span class="part-of-speech-indicator"></span>
                </div>
                <span class="info-text">a feeling of extreme emotional intensity</span>
                <ul class="synonyms-list" >
                  <li>
                    <span>wildness</span>
                  </li>
                  <li>
                    <span>be found/left abandoned</span>
                  </li>
                </ul>
                <ul class="examples-list">
                  <li>
                    <div class="example-indicator-container">
                      <span class="example-indicator"></span>
                    </div>
                    <span>He abandoned the thought of asking for her hand in marriage</span>
                  </li>
                  <li>
                    <div class="example-indicator-container">
                      <span class="example-indicator"></span>
                    </div>
                    <span>He abandoned the thought of asking for her hand in marriage</span>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="info-container">
          <div class="info-header-arrow-container">
            <span class="info-header">Collocations</span>
            <div class="arrow-4" [ngClass]="{'open': !collocationsExpanded}" (click)="collocationsClick()">
              <span class="arrow-4-left"></span>
              <span class="arrow-4-right"></span>
            </div>
          </div>
          <ul class="info-list" [ngClass]="{'hidden': !collocationsExpanded}">
            <li>
              <div class="info-item-container">
                <span class="part-of-speech">VERB</span>
                <div class="speech-indicator-container">
                  <span class="part-of-speech-indicator"></span>
                </div>
                <span class="info-text">leave sb/sth</span>
                <ul class="synonyms-list" >
                  <li>
                    <span>hastily</span>
                  </li>
                  <li>
                    <span>be found/left abandoned</span>
                  </li>
                </ul>
                <ul class="examples-list">
                  <li>
                    <div class="example-indicator-container">
                      <span class="example-indicator"></span>
                    </div>
                    <span>The car was found abandoned in a nearby town.</span>
                  </li>
                  <li>
                    <div class="example-indicator-container">
                      <span class="example-indicator"></span>
                    </div>
                    <span>The village had been hastily abandoned</span>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
