.content {
  height: 100%;
  background-color: #E9E9E9;
  padding-top: 80px;
}

.container {
  background-color: white;
  height: 100%;
  //padding-top: 80px;
}

.word-info-header {
  padding-top: 40px;
  padding-right: 90px;
  padding-left: 90px;
}

.word-name {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  //position: relative;
  //top: 110px;
  //left: 130px;
}
@media (max-width: 768px) {
  .word-info-header{
    padding-top: 30px;
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media (max-width: 500px) {
  .word-info-header {
    padding: 10px 10px;
  }
  .word-name {
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  .word-info-header{
    padding: 0px 0px;
  }
  .word-name{
    font-size: 25px;
  }
}
